@import 'tailwindcss';

/* Theme variables */
@theme inline {
  --color-sidebar-bg: #293a01;
  --color-background: #141414;
  --color-secondary: #1d1e1f;
  --color-border: #414243;
  --color-text-primary: #cfd3dc;
  --spacing-padding: 1.5rem;
}

/* Base styles */
@layer base {
  html,
  body {
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-text-primary);
    background-color: var(--color-background);
  }
}
