@import 'tailwindcss';

/* Light mode (default) */
@theme inline {
  --color-sidebar-bg: #293a01;
  --color-sidebar-child: #384d04;
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-text-primary: var(--text-primary);
  --color-login-bg: var(--login-bg);
  --color-header-color: var(--header-color);
  --color-header-hover: var(--header-hover);
  --color-button-text: #ffffff;
}

:root {
  --background: #f5f7f9;
  --secondary: #ffffff;
  --border: rgb(228, 231, 237);
  --text-primary: #1d1e1f;
  --login-bg: #fff;
  --header-color: #ffffff;
  --header-hover: #f5f7f9;
}

/* Dark mode */
.dark {
  --background: #141414;
  --secondary: #1d1e1f;
  --border: rgb(70, 71, 73);
  --text-primary: #cfd3dc;
  --login-bg: #293145;
  --header-color: #1d1e1f;
  --header-hover: #2a2b2c;
}

.font-size-small {
  font-size: 14px;
}

.font-size-large {
  font-size: 18px;
}

/* Base styles */
@layer base {
  html,
  body {
    /* font-family: 'Times New Roman', Times, serif; */
    color: var(--color-text-primary);
    background-color: var(--color-background);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1d1e1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5d20;
  border-radius: 4px;
  border: 2px solid #1d1e1f;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #60831a;
}
